@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.clubpage {
  margin: -0.75%;
}

.clubpage {
  font-family: "Poppins";
  background-color: #F9F9F9;
}

.clubheader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 3%;
  padding-right: 3%;

  background: rgb(224,136,245);
  background: linear-gradient(90deg, rgba(224,136,245,1) 0%, rgba(55,24,183,1) 100%);

  height: 7em;
  color: white;
  text-align: center;
}

.unipath {
  color: white;
  font-weight: 500;
  font-size: 2em;
}

.submit {
  position: absolute;
  right: 1%;
  top: 12.5%;

  background-color: #582EC3;
  border: solid 1px #582EC3;
  border-radius: 50px;
  color: white;

  font-family: "Poppins";
  font-size: 16px;
  padding-left: 3%;
  padding-right: 3%;

  cursor: pointer;
}

.feedback {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1em;

  color: #582EC3;
  background-color: white;
  border-radius: 35px;
  border: none;

  height: 2em;
  width: 10em;

  cursor: pointer;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 2%;
  margin: 2% 8% 2% 8%;

  filter: drop-shadow(0px 0px 3px #ababab);
}

.info {
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  flex: 1;
}

.clubname {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0;
}

.info img {
  padding: 5px 35px 5px 35px;
  border-radius: 30px;
  border: solid 1px #EFEAF8;

  display: block;
  margin: auto;
}

.numreviews {
  margin-top: 0;
}

.number {
  text-decoration: underline;
  font-weight: 600;
}

.main {
  flex: 4;
}

.about {
  background-color: white;
  border-radius: 30px;
  padding: 2em;
  font-size: 1em;
  font-weight: 350;
  margin-bottom: 2%;
}

.about h1 {
  font-size: 1.7em;
  font-weight: 550;
  margin-top: 0;
  margin-bottom: 0;
}

.careers {
  display: flex;
  align-items: center;
  gap: 15px;

  font-size: 14px;
}

.careers h4 {
  font-weight: 600;
}

.tags {
  display: flex;
  gap: 10px;
  font-size: 0.99em;
  font-weight: 350;
}

.tag {
  background-color: #EFEAF8;
  padding: 5px 25px 5px 25px;
  border-radius: 30px;
  cursor: pointer;
}

.starheader {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 15px;
}

.stars{
  display: flex;
  justify-content: space-between;
  padding: 0 2% 0 2%;
  width: 100%;
}

.startdate {
  color: #96909F;
  margin-left: auto;
}

.reviewContent h1 {
  font-size: 1.3em;
}

.reviewdivider {
  margin: 2% 0 2% 0;
  border: none;
  border-top: 2px solid #F1EAFF;
}

.footer {
  background-color: #582EC3;
  padding: 20px;
  color: white;
  text-align: center;
}

.footer h1 {
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 0;
}

.footer p {
  margin-top: 0.2%;
  font-weight: 300;
}

.footer a {
  color: white;
}

.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.rating h3{
  font-weight: 400;
  text-align: center;
  margin-bottom: -10%;
}

.stars {
  display: flex;

  color: #B7B7B7;
  align-items: baseline;
  text-align: center;
  font-weight: 400;
}

.score, .time {
  font-size: 1.8em;
  color: black;
}

.outof {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 5%;
}

.desc {
  color: #B7B7B7;
}

.outofReview {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: #B7B7B7;
  gap: 5%;
}

.reviews {
  display: flex;
  gap: 5%;

  padding: 2%;
}

.starcontent {
  display: flex;
  gap: 4%;
  font-size: 1em;
  font-weight: 350;
}

.label {
  font-weight: 500;
}

.reviewheader {
  display: flex;
  align-items: first baseline;
  justify-content: space-between;

  line-height: 10%;
}

.reviewcontent {
  font-size: 1em;
  font-weight: 350;

  width: 100%;
}

.reviewContent {
  width: 100%;
}

#review-text {
  width: 100%;
}

.postdate {
  color: #B7B7B7;
}

.scoreReview {
  font-size: 2.2em;
  color: black;
  font-weight: 500 !important;
  line-height: 1rem;
}
