.starContainer {
    background-color: white;
    border-radius: 18px;
    padding: 1% 2% 1% 2%;
    font-size: 0.90em;
    font-weight: 300;
    width: 92%;
    height: 2.5em;
    margin-left: 1.5%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
