.tagContainer {
    position: absolute;
    background-color: white;
    width: 91%;
    border-radius: 15px;
    padding: 5px;
}

.hidden {
    opacity: 0;
}

.tagContainer button {
    background-color: #EFEAF8;
    padding: 5px 25px 5px 25px;
    border:none;
    border-radius: 30px;
    cursor: pointer;

    margin: 5px 3px;
    font-family: "Poppins";
}

.tagdiv {
    display: flex;
    align-items: first baseline;
    gap: 2%;
    background-color: white;
    border: 3px solid #EFEAF8;
    padding: 0 4% 0 4%;
    border-radius: 30px;
    cursor: pointer;
    line-height: 0.5rem;

    width: 192%;
    margin-top: 3%;
}

.selectedTag {
    background-color: #EFEAF8;
    padding: 4px 25px 4px 25px;
    border:none;
    border-radius: 30px;
    cursor: pointer;

    margin: 5px 3px;
    font-size: 0.9rem;
}
