.time {
    width: 100%;
    position: relative;
}

.button {
    background-color: white;
    width: 95%;
    border: 1px solid #F3EEFD;
    border-radius: 19px;
    padding: 2.75% 0 2.75% 15px;
    margin: 0 2%;
    font-size: 0.90em;
    font-family: "Poppins";
    cursor: pointer;
    text-align: left;
    color: #808080;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 1em;
}

.button:focus {
    outline: none;
    border-color: #582EC3;
}

.options {
    position: absolute;
    list-style-type: none;
    margin: 0;
    margin-left: 2%;
    padding: 0;

    background-color: white;
    border: solid 3px #F3EEFD;
    border-radius: 15px;
}

.options li {
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
}

.options li:hover {
    background-color: #F3EEFD;
}

.selected {
    color: black;
}

@media only screen and (max-width: 650px) {
    .time {
        width: 100%;
    }

    .button {
        flex-grow: 1;
        box-sizing: border-box;
        height: 2.8rem;
        margin: 1.5% 0 0.75% 2%;
    }
}