.button {
    display: flex;
    justify-content: center;
  }
  
  .review {
    color: white;
    background-color: #582EC3;
    border: solid 1px #582EC3;
    border-radius: 35px;
  
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
  
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
  }
  
  .review img {
    border: none;
    padding: 0;
    padding-left: 8px;
  }
  