/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/_components/Home/Home.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Poppins";
  background-color: #F9F9F9;
  margin: 0;
}

.header {
  background: rgb(224,136,245);
  background: linear-gradient(90deg, rgba(224,136,245,1) 0%, rgba(55,24,183,1) 100%);

  height: 28em;
  color: white;
  text-align: center;
}

#firstLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 2em;
  line-height: 1em;

  padding-left: 3%;
  padding-right: 3%;
}

#rate {
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 0;
  padding-top: 4%;
}

#ucd {
  font-weight: 500;
  font-size: 3em;
  margin-top: 0;
}

#feedback {
  display: flex;
  align-items: center;
  padding: 0;
}

#feedback-txt {
  font-size: 0.5em;
  font-weight: 200;

  width: 20em;
}

#feedback-btn {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 0.5em;

  color: #582EC3;
  background-color: white;
  border-radius: 35px;
  border: none;

  height: 2em;
  width: 10em;

  cursor: pointer;
}

#search {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#searchbar {
  border-radius: 60px;
  border: solid 2px white;
  outline: none;

  width: 750px;
  height: 60px;

  font-family: "Poppins";
  font-size: 22px;

  padding-left: 25px;
  padding-right: 250px;

  filter: drop-shadow(0px 2px 2px #ababab);
}

input::placeholder {
  color: #8D8D8D;
}

#submit {
  position: absolute;
  right: 1%;
  top: 12.5%;

  background-color: #582EC3;
  border: solid 1px #582EC3;
  border-radius: 50px;
  color: white;

  font-family: "Poppins";
  font-size: 20px;
  padding: 8px 70px 8px 70px;

  cursor: pointer;

}

#results{
  color: #582EC3;
  font-weight: 500;
  padding-top: 5%;
  text-align: center;
  font-size: 2em;
}

#clubs {
  display: grid;
  grid-template-columns: repeat(3, minmax(0,1fr)); /* Always 3 columns */
  gap: 20px;
  align-items: stretch;
  margin-left: 6%;
  margin-right: 6%;
}

#contact {
  margin: 3% 6% 3% 6%;
  font-weight: 350;
}

#contact a {
  color: #582EC3;
}

footer {
  background-color: #582EC3;
  padding: 20px;
  color: white;
  text-align: center;
}

footer h1 {
  font-weight: 500;
  font-size: 1.5em;
  margin-bottom: 0;
}

footer p {
  margin-top: 0.2%;
  font-weight: 300;
}

footer a {
  color: white;
}

.club-link {
  text-decoration: none;
}

.club-link:visited {
  color: inherit; /* Inherit color from parent */
  text-decoration: none; /* Remove underline */
}

.link {
  text-decoration: underline;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/_components/Home/_components/Club.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
  .club {
    background-color: white;
    border: solid 1px white;
    border-radius: 30px;
    padding: 20px;
    cursor: pointer;
  
    filter: drop-shadow(0px 0px 3px #ababab);
    height: 90%;
  }

  a {
    color: black;
    text-decoration: none;
  }
  
  .club img {
    display: block;
    margin: auto;
  }
  
  .clubname {
    font-weight: 400;
    font-size: 27px;
    margin: 0;
  }
  
  .rating {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
  }
  
  .rating h3{
    font-weight: 400;
    margin: 3%;
    text-align: center;
    margin-bottom: -10%;
  }
  
  .stars {
    display: flex;

    color: #B7B7B7;
    align-items: baseline;
    text-align: center;
    font-weight: 400;
  }

  .outof {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 10%;
  }

  .desc {
    color: #B7B7B7;
  }
  
  .numreview {
    font-weight: 500;
    color: #C0ADD8;
  }

  .score {
    font-size: 2em;
    color: black;
  }
  
  .description {
    margin-top: 1%;
    font-weight: 300;
  }
  
  .categories {
    display: flex;
    gap: 1%;
  }

  .category {
    background-color: #F1EAFF;
    border: solid 1px #F1EAFF;
    padding: 6px 12px 6px 12px;
    border-radius: 15px;
    cursor: pointer;
  }

  
